<log4net>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<appendToFile value="true" />
		<file value="D:\Practice\ITS POS\POS-ITS.API\Logs\logFile.txt" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger.%method [%line] - MESSAGE: %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="ALL"/>
		<appender-ref ref="RollingFile" />
	</root>
</log4net>